{% extends 'items/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>User Login</legend>
            {{forms|crispy}}
        </fieldset>      
        <div class="submit">
            <button type="submit">Login</button>
        </div>
        <div class="login">
            <small>
                Not a member?<a href="{% url 'register' %}">Register</a></li>
            </small>
        </div>
    </form>
{% endblock %}