{% extends 'items/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>User Registration</legend>
            {{forms|crispy}}
        </fieldset>      
        <div class="submit">
            <button type="submit">Register</button>
        </div>
        <div class="login">
            <small>
                Aleady Have Account?<a href="{% url 'login' %}">Login</a></li>
            </small>
        </div>
    </form>
{% endblock %}